* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(390deg, #ffffff 70%, #e6d2d6 85%, #b8cef0 100%);
    padding: 2rem;
}

.bg-circle {
    position: absolute;
    border-radius: 50%;

    opacity: 0.35;
    z-index: 0;
    pointer-events: none;
}

.bg-circle.pink {
    width: 180px;
    height: 180px;
    background: #f0c5f9;
    top: 40px;
    left: 60px;
}

/* .bg-circle.blue {
    width: 240px;
    height: 240px;
    background: #a1fddd;
    bottom: 250px;
    right: 100px;
} */